*
{
	padding:0;
	margin:0;
	}
	
#headerTitle {
	position:absolute;
	left:40%;
	display: inline-block;
	line-height: 45px;
	color: #3cb371;
	font-size: 20px;
	font-weight: bold;
}

#appHeader {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #8E8E93;
	background: rgba(255,255,255,1);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}

#buttonReserve {
  background: #3cb371;
  background-image: -webkit-linear-gradient(top, #3cb371, #3cb371);
  background-image: -moz-linear-gradient(top, #3cb371, #3cb371);
  background-image: -ms-linear-gradient(top, #3cb371, #3cb371);
  background-image: -o-linear-gradient(top, #3cb371, #3cb371);
  background-image: linear-gradient(to bottom, #3cb371, #3cb371);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 5px 15px #666666;
  -moz-box-shadow: 0px 5px 15px #666666;
  box-shadow: 0px 5px 15px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 28px 21px 40px 22px;
  text-decoration: none;
  width: 20%;
  position: absolute;
  top: 20%;
  left: 11%;
  text-align: center;
}

#buttonReserve:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#buttonCheckIn {
  background: #3cb371;
  background-image: -webkit-linear-gradient(top, #3cb371, #3cb371);
  background-image: -moz-linear-gradient(top, #3cb371, #3cb371);
  background-image: -ms-linear-gradient(top, #3cb371, #3cb371);
  background-image: -o-linear-gradient(top, #3cb371, #3cb371);
  background-image: linear-gradient(to bottom, #3cb371, #3cb371);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 5px 15px #666666;
  -moz-box-shadow: 0px 5px 15px #666666;
  box-shadow: 0px 5px 15px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 25px 21px 20px 22px;
  text-decoration: none;
  width: 20%;
  position: absolute;
  top: 20%;
  left: 55%;
  text-align: center;
}

#buttonCheckIn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#buttonMenu {
  background: #3cb371;
  background-image: -webkit-linear-gradient(top, #3cb371, #3cb371);
  background-image: -moz-linear-gradient(top, #3cb371, #3cb371);
  background-image: -ms-linear-gradient(top, #3cb371, #3cb371);
  background-image: -o-linear-gradient(top, #3cb371, #3cb371);
  background-image: linear-gradient(to bottom, #3cb371, #3cb371);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 5px 15px #666666;
  -moz-box-shadow: 0px 5px 15px #666666;
  box-shadow: 0px 5px 15px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 30px 21px 36px 22px;
  text-decoration: none;
  width: 20%;
  position: absolute;
  top: 44%;
  left: 11%;
  text-align: center;
}

#buttonMenu:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#buttonSignUp {
  background: #3cb371;
  background-image: -webkit-linear-gradient(top, #3cb371, #3cb371);
  background-image: -moz-linear-gradient(top, #3cb371, #3cb371);
  background-image: -ms-linear-gradient(top, #3cb371, #3cb371);
  background-image: -o-linear-gradient(top, #3cb371, #3cb371);
  background-image: linear-gradient(to bottom, #3cb371, #3cb371);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 5px 15px #666666;
  -moz-box-shadow: 0px 5px 15px #666666;
  box-shadow: 0px 5px 15px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 29px 21px 15px 22px;
  text-decoration: none;
  width: 20%;
  position: absolute;
  top: 44%;
  left: 55%;
  text-align: center;
}

#buttonSignUp:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#buttonCheckOut {
  background: #3cb371;
  background-image: -webkit-linear-gradient(top, #3cb371, #3cb371);
  background-image: -moz-linear-gradient(top, #3cb371, #3cb371);
  background-image: -ms-linear-gradient(top, #3cb371, #3cb371);
  background-image: -o-linear-gradient(top, #3cb371, #3cb371);
  background-image: linear-gradient(to bottom, #3cb371, #3cb371);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 5px 15px #666666;
  -moz-box-shadow: 0px 5px 15px #666666;
  box-shadow: 0px 5px 15px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 28px 21px 20px 22px;
  text-decoration: none;
  width: 20%;
  position: absolute;
  top: 68%;
  left: 11%;
  text-align: center;
}

#buttonCheckOut:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#buttonPhoto {
  background: #3cb371;
  background-image: -webkit-linear-gradient(top, #3cb371, #3cb371);
  background-image: -moz-linear-gradient(top, #3cb371, #3cb371);
  background-image: -ms-linear-gradient(top, #3cb371, #3cb371);
  background-image: -o-linear-gradient(top, #3cb371, #3cb371);
  background-image: linear-gradient(to bottom, #3cb371, #3cb371);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 5px 15px #666666;
  -moz-box-shadow: 0px 5px 15px #666666;
  box-shadow: 0px 5px 15px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 28px 21px 20px 22px;
  text-decoration: none;
  width: 20%;
  position: absolute;
  top: 68%;
  left: 55%;
  text-align: center;
}

#buttonPhoto:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



.backBtn {
  background: #aecbd9;
  background-image: -webkit-linear-gradient(top, #aecbd9, #3cb371);
  background-image: -moz-linear-gradient(top, #aecbd9, #3cb371);
  background-image: -ms-linear-gradient(top, #aecbd9, #3cb371);
  background-image: -o-linear-gradient(top, #aecbd9, #3cb371);
  background-image: linear-gradient(to bottom, #aecbd9, #3cb371);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: #ffffff;
  font-size: 5px;
  padding: 10px 12px 10px 12px;
  text-decoration: none;
  position: absolute;
  top: 28%;
  left: 3%;
}

.backBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#reservePage {
	display: none;
}

#checkInPage {
	display: none;
}

#menuPage {
	display: none;
}

#signUpPage {
	display: none;
}

#checkOutPage {
	display: none;
}

#photoPage {
	display: none;
}

.text1 {
	position:absolute;
	top: 20%;
	left: 30%;
}
	
.text2 {
	position:absolute;
	top: 20%;
	left: 30%;
}

.text3 {
	position:absolute;
	top: 20%;
	left: 30%;
}
	
.text4 {
	position:absolute;
	top: 20%;
	left: 30%;
}

.text5 {
	position:absolute;
	top: 20%;
	left: 30%;
}
	
.text6 {
	position:absolute;
	top: 20%;
	left: 30%;
}

#footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	padding: 0;
	border-top: 1px solid #8E8E93;
	background: rgba(255,255,255,1);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}




#subHeader {
	position: absolute;
	top: 13%;
	left: 30%;
	color: #3cb371;
}

@font-face {
  font-family: Ratchicons;
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/ratchicons.eot");
  src: url("../fonts/ratchicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ratchicons.woff") format("woff"), url("../fonts/ratchicons.ttf") format("truetype"), url("../fonts/ratchicons.svg#svgFontName") format("svg");
}
.icon {
  display: inline-block;
  font-family: Ratchicons;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;

  -webkit-font-smoothing: antialiased;
}

.icon-back:before {
  content: '\e80a';
}

.icon-bars:before {
  content: '\e80e';
}

.icon-caret:before {
  content: '\e80f';
}

.icon-check:before {
  content: '\e810';
}

.icon-close:before {
  content: '\e811';
}

.icon-code:before {
  content: '\e812';
}

.icon-compose:before {
  content: '\e813';
}

.icon-download:before {
  content: '\e815';
}

.icon-edit:before {
  content: '\e829';
}

.icon-forward:before {
  content: '\e82a';
}

.icon-gear:before {
  content: '\e821';
}

.icon-home:before {
  content: '\e82b';
}

.icon-info:before {
  content: '\e82c';
}

.icon-list:before {
  content: '\e823';
}

.icon-more-vertical:before {
  content: '\e82e';
}

.icon-more:before {
  content: '\e82f';
}

.icon-pages:before {
  content: '\e824';
}

.icon-pause:before {
  content: '\e830';
}

.icon-person:before {
  content: '\e832';
}

.icon-play:before {
  content: '\e816';
}

.icon-plus:before {
  content: '\e817';
}

.icon-refresh:before {
  content: '\e825';
}

.icon-search:before {
  content: '\e819';
}

.icon-share:before {
  content: '\e81a';
}

.icon-sound:before {
  content: '\e827';
}

.icon-sound2:before {
  content: '\e828';
}

.icon-sound3:before {
  content: '\e80b';
}

.icon-sound4:before {
  content: '\e80c';
}

.icon-star-filled:before {
  content: '\e81b';
}

.icon-star:before {
  content: '\e81c';
}

.icon-stop:before {
  content: '\e81d';
}

.icon-trash:before {
  content: '\e81e';
}

.icon-up-nav:before {
  content: '\e81f';
}

.icon-up:before {
  content: '\e80d';
}

.icon-right-nav:before {
  content: '\e818';
}

.icon-right:before {
  content: '\e826';
}

.icon-down-nav:before {
  content: '\e814';
}

.icon-down:before {
  content: '\e820';
}

.icon-left-nav:before {
  content: '\e82d';
}

.icon-left:before {
  content: '\e822';
}
